.bag{
    height: 400vh;
    position: relative;
    overflow-x: hidden;

    img{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .white-bag{
        z-index: 0;
    }
    .red-bag{
        position: absolute;
        z-index: 1;
        top: 75%;
    }

    #trigger1{
        position: absolute;
        top: 37.5%;
    }
    #triggerFade{
        position: absolute;
        top: 250vh;
    }

    .bag_white{
        position: absolute;
        width: 100%;
        height: 200vh;
        z-index: 2;

        .bag_text{
            position: relative;
            height: 100%;

            &.default{
                width: 100%;
                height: 100%;
                position: relative;
                z-index: -1;
            }
            &.white{
                position: absolute;
                clip: rect(0, 100vw, 200vh, 0px);
                background-color: #DBD9DE;
                width: 100%;
            }
            .word{
                height: 100vh;
                position: relative;
            }
            .text{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                font-size: 280px;
                font-family: "Roboto",sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                max-width: none;

                &#pin1{
                    z-index: 0;
                    top: 20%;
                    bottom: auto;
                    letter-spacing: 4vw;
                    left: 52%;
                }
                &#pin2{
                    z-index: 3;
                    top: 53.5%;
                    letter-spacing: 3.25vw;
                    left: 51.5%;
                }
                &:nth-child(odd){
                    z-index: 0;
                    top: 20%;
                }
                &:nth-child(even){
                    z-index: 3;
                    bottom: 20%;
                    letter-spacing: 3.5vw;
                    left: 52%;
                }
            }
        }
    }
    .bag_red{
        position: absolute;
        width: 100%;
        height: 200vh;
        bottom: 0;
        z-index: 0;
        background-color: $red-100;
        
        .bag_text{
            position: relative;
            top: -200vh;
            height: 100%;
            
            &.red{
                position: absolute;
                width: 100%;
            }
            .text{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                font-size: 280px;
                font-family: "Roboto",sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                max-width: none;
                color: $white-100;

                &#pin3{
                    z-index: 0;
                    top: 60%;
                    bottom: auto;
                    letter-spacing: 4vw;
                    left: 52%;
                }
                &#pin4{
                    z-index: 3;
                    top: 76.7%;
                    letter-spacing: 3.25vw;
                    left: 51.5%;
                }
                &.show{
                    &#pin3{
                        opacity: 0;
                        animation: fadeIn 0.75s ease forwards;
                    }
                    &#pin4{
                        opacity: 0;
                        animation: fadeIn 0.75s ease forwards;
                    }
                }
                &.hide{
                    &#pin3{
                        opacity: 1;
                        animation: fadeOut 0.75s ease forwards;
                    }
                    &#pin4{
                        opacity: 1;
                        animation: fadeOut 0.75s ease forwards;
                    }
                }
            }
        }
    }
    .bag_fade{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 99;
        bottom: 100vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3{
            font-size: 90px;
            font-family: "Roboto",sans-serif;
            font-weight: 600;
            line-height: 96px;
            text-transform: uppercase;
            color: $white-100;
        }
        p{
            font-size: 21px;
            font-family: 'Spoqa Han Sans Neo', 'sans-serif';
            font-weight: 300;
            margin-top: 10px;
            color: $white-100;
        }

        &.show{
            h3{
                opacity: 0;
                &:nth-child(1){
                    animation: fadeIn-up-s 0.5s ease forwards;
                }
                &:nth-child(2){
                    animation: fadeIn-up-s 0.5s 0.25s ease forwards;
                }
            }
            p{
                opacity: 0;
                animation: fadeIn-up-s 0.5s 0.5s ease forwards;
            }
        }
        &.hide{
            h3{
                opacity: 1;
                &:nth-child(1){
                    animation: fadeOut-up-s 0.5s 0.25s ease forwards;
                }
                &:nth-child(2){
                    animation: fadeOut-up-s 0.5s 0.5s ease forwards;
                }
            }
            p{
                opacity: 1;
                animation: fadeOut-up-s 0.5s  ease forwards;
            }
        }
    }
}
.space{
    height: 50vh;
}
